<!DOCTYPE html>
<html>
<head>
	<title>Attendance</title>
</head>
<body>
	<div class="container">
		<div id="formContent">

				<form action="{{ url_for('signup') }}" method="post"><br>
				<p><input type="email" id="email" class="fadeIn second" name="email" placeholder="EMAIL"></p>
				<p><input type="roll" id="roll" class="fadeIn second" name="roll" placeholder="ENROLL NUMBER"></p>
				<p><input type="name" id="name" class="fadeIn second" name="name" placeholder="NAME"></p>
				<p><input type="password" id="password" class="bi bi-eye-slash" name="password" placeholder="PASSWORD"> </p>
				<p><input type="submit" class="fadeIn fourth" name="signup" value="signup"></p>

		</div>
		<div>
			<a href="{{ url_for('signup')}}""> Signup</a>
		</div>
		<div id="formFooter">
			<a class="underlineHover" href="{{ url_for('login') }}">Forgot Password?</a>
		</div>
	</div>
</body>
</html>